@model Comics.Domain.Entities.Usuario
@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2><div id="main_container">
    <div class="container ipage">
        <div class="row">
            <!-- Start Loop Posts -->
            <div id="inner-container" class="col-md-12 col-sm-12 col-xs-12 main-container">
                <div class="parallax-about">
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="wpb_wrapper">
                                <div class="section-title center">
                                    <h3 class="bold text-uppercase">Eliminar Usuario</h3><div class="hr"></div>
                                    <h4 class="bold text-uppercase">¿Esta seguro de eliminar este usuario?</h4>
                                </div>
                                <p>
                                    <a asp-action="Index" class="btn btn-default btn-sm"><< Regresar al listado</a>
                                </p>
                                <hr />
                                <div class="ts-blog blog_peronal_list bloglist-size1">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Id" class="control-label"></label>:
                                                @Html.DisplayFor(model => model.Id)
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Nombres" class="control-label"></label>:
                                                @Html.DisplayFor(model => model.Nombres)
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ApellidoPaterno" class="control-label"></label>:
                                                @Html.DisplayFor(model => model.ApellidoPaterno)
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ApellidoMaterno" class="control-label"></label>:
                                                @Html.DisplayFor(model => model.ApellidoMaterno)
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Email" class="control-label"></label>:
                                                @Html.DisplayFor(model => model.Email)
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Password" class="control-label"></label>:
                                                @Html.DisplayFor(model => model.Password)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <form method="post">
                                                <input type="hidden" asp-for="Id" />
                                                <input type="submit" value="Eliminar" class="btn btn-default" />
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>