@model Comics.Domain.Entities.Comic
@{
    ViewData["Title"] = "Eliminar";
}
<div id="main_container">
    <div class="container ipage">
        <div class="row">
            <!-- Start Loop Posts -->
            <div id="inner-container" class="col-md-12 col-sm-12 col-xs-12 main-container">
                <div class="parallax-about">
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="wpb_wrapper">
                                <div class="section-title center">
                                    <h3 class="bold text-uppercase">Eliminar Comic</h3><div class="hr"></div>
                                </div>
                                <p>
                                    <a asp-action="Index" class="btn btn-default btn-sm"><< Regresar al listado</a>
                                </p>
                                <hr />
                                <div class="ts-blog blog_peronal_list bloglist-size1">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Id" class="control-label"></label>
                                                @Html.DisplayFor(model => model.Id)
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Nombre" class="control-label"></label>
                                                @Html.DisplayFor(model => model.Nombre)
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Año" class="control-label"></label>
                                                @Html.DisplayFor(model => model.Año)
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Foto" class="control-label"></label>
                                                @Html.DisplayFor(model => model.Foto)
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FechaRegistro" class="control-label"></label>
                                                @Html.DisplayFor(model => model.FechaRegistro)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <form method="post">
                                                <input type="hidden" asp-for="Id" id="Id" />
                                                <input type="button" value="Eliminar" class="btn btn-default" id="Eliminar" />
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Eliminar').click(function () {
                let id = $('#Id').val();
                $.ajax({
                    type: "POST",
                    url: 'https://localhost:44391/RevistasAjax/Eliminar/' + id,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    }
                })
                .done(function (result) {
                    if (result.exito) {
                        alert(result.mensaje);
                        location.href = '/RevistasAjax/Index'
                    }
                    else
                        alert('No se pudo eliminar la revista, reintente por favor');
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    alert('Ocurrió un error inesperado, por favor comunicarse con soporte');
                })
            });
        });
    </script>
}