@model IEnumerable<Comics.Domain.Entities.Comic>
@{
    ViewData["Title"] = "Listado de Revistas";
}
<div id="main_container">
    <div class="container ipage">
        <div class="row">
            <!-- Start Loop Posts -->
            <div id="inner-container" class="col-md-12 col-sm-12 col-xs-12 main-container">
                <div class="parallax-about">
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="wpb_wrapper">
                                <div class="  section-title center">
                                    <h3 class="bold text-uppercase">Listado de Revistas</h3><div class="hr"></div>
                                </div>
                                <p>
                                    <a asp-action="Crear" class="single_add_to_cart_button button alt">Crear Nuevo</a>
                                </p>

                                <div class="ts-blog blog_peronal_list bloglist-size1">
                                    <div class=" blog-item post type-post status-publish format-image has-post-thumbnail hentry category-lifestyle tag-lifestyle post_format-post-format-image">
                                        @foreach (var item in Model)
                                        {
                                            <div class="blog-item-left blog-post-item">
                                                <div class="post-meta-type">
                                                    <a href="#" title="A Healthy Habit">
                                                        <figure><img src="@Url.Content("~/User_Files/_Upload_Folder/" + item.Foto)" alt="Foto de la revista" width="200" /></figure>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="blog-item-right blog-post-item">
                                                <article>
                                                    <div class="category-name">
                                                        <span><a href="#">Nombre:</a></span>
                                                    </div>
                                                    <div class="title-blogitem text-left">
                                                        <h3><a href="#">@Html.DisplayFor(modelItem => item.Nombre)</a></h3>
                                                        <hr>
                                                    </div>
                                                    <div class="except-post text-right">
                                                        <div>
                                                            <a asp-action="Editar" asp-route-id="@item.Id" class="single_add_to_cart_button button">Editar</a>
                                                            <a asp-action="Detalles" asp-route-id="@item.Id" class="single_add_to_cart_button button alt">Detalles</a>
                                                            <a asp-action="Eliminar" asp-route-id="@item.Id" class="single_add_to_cart_button button alt">Eliminar</a>
                                                        </div>
                                                    </div>
                                                    <div class="bottom-blog">
                                                        <ul data-style-blog="masonry" class="blog-date pull-left ccc" data-id="45">
                                                            <li><i class="fa fa-clock-o"></i>Año: @item.Año</li>
                                                        </ul>
                                                    </div>
                                                </article>
                                            </div>
                                            <hr />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Loop Posts -->
        </div>
    </div>
</div>
